<h1>About Me: Helen</h1>
<ul>
	<li>I have a beta called BigRed.</li>
	<li>I live in Queens.</li>
	<li>I like to play piano.</li>
</ul>
<!-- <p>Find me in app/views/about/index.html.erb</p> -->
<!-- to comment do command? in mac -->
